            /* --- unifico diseño de las 3 páginas--- */
        :root {
            --color-primario: #4b0082; 
            --color-acento: #ffc107; 
            --color-fondo: #f4f4f4; 
            --color-blanco: #ffffff;
            
            /* Fuente y tamaño  */
            --fuente-principal: 'Roboto', 'Arial', sans-serif;
            --tamano-letra-base: 16px;
            --ancho-maximo: 1200px;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: var(--fuente-principal);
            font-size: var(--tamano-letra-base);
            line-height: 1.5;
            background-color: #f4f4f4;
            color: #333333;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        /* --- CONTENEDORES PRINCIPALES --- */
        .encabezado {
            background-color: #4b0082;
            color: white;
            padding: 15px;
            text-align: center;
        }
        .nav-container {
            max-width: 900px;
            margin: 0 auto;
        }
        .logo {
            font-weight: bold;
            font-size: 1.5em;
            display: block;
            margin-bottom: 10px;
        }
        .nav-links a {
            margin: 0 10px;
            color: white;
        }
        .main-container {
            max-width: 900px;
            margin: 40px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            overflow: hidden; 
        }
        /* --- 2 Columnas para el producto --- */

        .producto-detalle {        
            display: flex; 
            flex-direction: row-reverse;
            justify-content: space-between; 
            align-items: flex-start; 
            gap: 30px; 
            padding: 20px;
            flex-wrap: nowrap; 
        }
        .producto-imagen { 
            width: 45%; 
            flex-shrink: 0; 
        }
        .producto-imagen img { 

            width: 100%; 
            height: auto; 
            display: block;
        }
        .producto-info { 
            width: 55%; 
        }
        .producto-info .precio { 
            font-size: 2em;  
            font-weight: bold; 
            margin-bottom: 20px;
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #4428a7; 
            color: white;
            border-radius: 5px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .btn:hover { background-color: #4428a7; }

        .footer-container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            font-size: 0.9em;
            color: #777;
        }
