* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #323132;
}
header{ 
    height: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(63, 51, 232, 0.5);
}
header h1 {
        font-size: 3em;
        background-color: rgba(71, 45, 218, 0.5);
        padding: 0px 20px;
        border-radius: 10px;
}  
section, footer {
    padding: 40px 20px; 
    max-width: 1000px; 
    margin: auto; 
    background-color: white;
}
#noticia h2 {
    margin-top: 0;
}
#noticia img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

#galeria {

    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
    padding: 20px;
}
#galeria h2 {

    flex-shrink: 0;
    margin-bottom: 20px;
    width: 100%;
}
#galeria img {
    max-width: 300px; 
    height: auto;
}
#puntos-clave h2{
    margin-top: 0;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}
th, td { 
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: left;
}
th { 
    background-color: #f2f2f2; 
}